.img-thumbnail{
    max-width: 50%;
}
.main-header{
    background-color: #373435;
    color: #cddc39;
}
.nav{
    padding: 17px;
}
.row{
    flex-wrap: nowrap;
}
.img-logo{
    background-color: #373435;
}
.search-text{
    color:#cddc39;
}
