.img-thumbnail{
    max-width: 20%;
}
.main-header{
    background-color: #27292d;
    color: #cddc39;
}
.nav{
    padding: 17px;
}
.row{
    flex-wrap: nowrap;
}
.img-logo{
    background-color: #27292d;
}
.search-text{
    color:#cddc39;
}